<footer class="text-center">
    <div class="container text-muted py-4 py-lg-5">
        <a href="https://www.coingecko.com/" target="_blank" class="h5">Data provided by CoinGecko</a><br>
        <a class="h5"
            href="https://www.freepik.com/free-photo/stock-market-chart-technology-blue-background_17122299.htm#query=crypto&position=3&from_view=search&track=sph"
            target="_blank">Image by rawpixel.com</a> <br>
        <h4 class="mb-0">Copyright © 2023</h4>
    </div>
</footer>